worker_processes auto;
error_log /var/log/nginx/error.log;
pid /run/nginx.pid;

events {
  worker_connections  1024;  ## Default: 1024
}

http {

upstream backend {
    server 34.66.160.35:32214;
    server 34.133.18.141:32214;
    server 34.42.1.2:32214;
}

server {
    listen 80;
    listen [::]:80;

    location / {
        proxy_pass http://backend;
    }
}

}
